{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "@techassi"
  ],
  "ignorePatterns": [
    "dist"
  ],
  "rules": {
    "space-before-function-paren": [
      "error",
      {
        "asyncArrow": "always",
        "anonymous": "never",
        "named": "never"
      }
    ]
  }
}